// Fonts
@font-face {
  font-family: light;
  src: url(./assets/font/Lexend-Light.ttf);
}
@font-face {
  font-family: regular;
  src: url(./assets/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: semi;
  src: url(./assets/font/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: Lbold;
  src: url(./assets/font/Lexend-Bold.ttf);
}

// Color
@primaryOrange: #ee5902;
@primaryOrangetext: #f86d1c;
@primaryButtontext: #fcfcfc;
@primaryNavyHeader: #06012e;
@primaryNavyDescription: #a7a7a7;

@backgroungPrimary: #fff8d3;

// Reuseable Design
.border() {
  border: 1px red solid;
}

.centerTheme() {
  width: 90%;
  margin: auto;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.linkRemoval() {
  font-family: regular;
  text-decoration: none;
  color: @primaryNavyHeader;
}

.logoHeader() {
  font-family: Lbold;
  color: @primaryOrangetext;
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.footerBasicDescription() {
  font-family: regular;
  font-size: 0.9rem;
  margin: 1rem 0;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.6rem;
    margin-bottom: 0.7rem;
  }
}

.footerBasicHeader() {
  font-family: semi;
  margin-bottom: 1rem;
  font-size: 1.1rem;

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.iconSize() {
  font-size: 1.5rem;
  color: @primaryNavyHeader;
  margin: 0 0.4rem;

  &:hover {
    transform: scale(1.2);
    transition: 0.4s ease all;
  }

  @media (max-width: 600px) {
    font-size: 2rem;
    margin: 3rem 0.8rem 0rem 0.8rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 1rem;
  }
}
// Default sizing
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//
// Header Section
.nav-container {
  .nav-wrapper {
    .centerTheme();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    @media (max-width: 600px) {
      width: 90%;
    }

    .nav-logo-wrapper {
      @media (max-width: 600px) {
        flex-grow: 1;
      }
      .nav-logo {
        .logoHeader();
      }
    }
    .nav-tab-wrapper {
      display: flex;

      .nav-tab-marign {
        margin: 0 1rem;

        .nav-tab-link {
          .linkRemoval();
          .nav-tab-text {
          }
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
    }

    .nav-action-wrapper {
      @media (max-width: 600px) {
        display: none;
      }
      .nav-icon {
        .iconSize();
      }
    }

    .nav-mobileMenu-wrapper {
      display: none;
      @media (max-width: 600px) {
        display: block;
      }
      .mobile-menu-icon {
        font-size: 2.5rem;
        color: @primaryNavyHeader;
      }
    }
  }
}

//
// Footer Section
.footer-container {
  background-color: @backgroungPrimary;
  padding: 5rem 0;

  .footer-wrapper {
    .centerTheme();

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      // Header
      .footer-gridItem-header {
        @media (max-width: 600px) {
          text-align: center;
          margin: 4rem 0;
        }

        .footer-logo-header {
          .logoHeader();
          margin-bottom: 1rem;

          @media (max-width: 600px) {
            font-size: 2.5rem;
          }
        }
        .footer-description {
          padding-right: 4rem;
          font-family: regular;
          .footerBasicDescription();

          @media (max-width: 600px) {
            padding: 0;
          }
        }
      }

      // Contact
      .footer-gridItem-contact {
        text-align: center;
        padding: 0 2rem;

        @media (max-width: 600px) {
          margin: 2rem 0;
        }
        .footer-contact-text {
          .footerBasicHeader();
        }
        .footer-contact-description {
          .footerBasicDescription();
        }
      }

      //Tab Links
      .footer-gridItem-tab-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
          padding-left: 2rem;
        }

        .footer-gridItem-tab-wrapper {
          @media (max-width: 600px) {
            margin-bottom: 2rem;
          }

          .footer-header {
            .footerBasicHeader();
          }
          .footer-tab-link {
            .linkRemoval();
            .footer-tab-text {
              .footerBasicDescription();
            }
          }
        }
      }
    }

    .footer-right-wrapper {
      display: flex;
      align-items: center;
      margin-top: 4rem;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .footer-right-text-div {
        flex-grow: 1;
        .footer-right-text {
          .footerBasicDescription();
        }
      }
      .footer-right-logo-div {
        .footer-icon-hover {
          .footer-icons {
            .iconSize();
          }
        }
      }
    }
  }
}
