// Fonts
@font-face {
  font-family: light;
  src: url(./assets/font/Lexend-Light.ttf);
}
@font-face {
  font-family: regular;
  src: url(./assets/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: semi;
  src: url(./assets/font/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: Lbold;
  src: url(./assets/font/Lexend-Bold.ttf);
}

// Color
@primaryOrange: #ee5902;
@primaryOrangetext: #f86d1c;
@primaryButtontext: #fcfcfc;
@primaryNavyHeader: #06012e;
@primaryNavyDescription: #858383;

@backgroungPrimary: #fff8d3;

// Reuseable Design
.border() {
  border: 1px red solid;
}

.centerTheme() {
  width: 85%;
  margin: auto;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.linkRemoval() {
  font-family: regular;
  text-decoration: none;
  color: @primaryButtontext;
  font-size: 1rem;
  font-family: semi;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.6rem;
  }
}

.logoHeader() {
  font-family: Lbold;
  color: @primaryOrangetext;
  font-size: 1.8rem;
  letter-spacing: 2px;

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 1.2rem;
  }
}

.mainHeader() {
  font-family: Lbold;
  font-size: 3rem;
  color: @primaryNavyHeader;
  margin-bottom: 2rem;

  @media (max-width: 600px) {
    font-size: 2rem;
    padding: 0 1rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 1.5rem;
  }
}

.mainDescription() {
  font-family: regular;
  font-size: 1rem;
  color: @primaryNavyDescription;
  margin-bottom: 2rem;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.8rem;
  }
}

.primaryButton() {
  background-color: @primaryOrange;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 0.3rem;

  &:hover {
    transform: scale(1.05);
    transition: 0.4s ease all;
    box-shadow: -1px 21px 24px -16px rgba(238, 89, 2, 0.75);
  }

  @media (max-width: 600px) {
    padding: 1rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    padding: 0.5rem 1rem;
  }
}

.footerBasicDescription() {
  font-family: regular;
  font-size: 0.9rem;
  margin: 1rem 0;

  @media (max-width: 600px) {
    font-size: 1.2rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.6rem;
    margin-bottom: 0.7rem;
  }
}

.circleIcons() {
  font-size: 2rem;
  color: @primaryOrange;
  margin: 0 0.4rem;

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 1.5rem;
  }
}

.footerBasicHeader() {
  font-family: semi;
  margin-bottom: 1rem;
  font-size: 1.1rem;

  @media (max-width: 600px) {
    font-size: 1.4rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 0.7rem;
  }
}

.iconSize() {
  font-size: 1.5rem;
  color: @primaryNavyHeader;
  margin: 0 0.4rem;

  &:hover {
    transform: scale(1.2);
    transition: 0.4s ease all;
  }

  @media (max-width: 600px) {
    font-size: 2rem;
    margin: 0rem 0.8rem;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    font-size: 1rem;
  }
}
// Default sizing
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
//
// Header Section
.nav-container {
  .nav-wrapper {
    .centerTheme();
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    @media (max-width: 600px) {
      width: 90%;
    }

    .nav-logo-wrapper {
      @media (max-width: 600px) {
        flex-grow: 1;
      }
      .nav-logo {
        .logoHeader();
      }
    }
    .nav-tab-wrapper {
      display: flex;

      .nav-tab-marign {
        margin: 0 1rem;

        .nav-tab-link {
          .linkRemoval();
          .nav-tab-text {
            font-family: regular;
            color: @primaryNavyHeader;
          }
        }
      }
      @media (max-width: 600px) {
        display: none;
      }
    }

    .nav-action-wrapper {
      @media (max-width: 600px) {
        display: none;
      }
      .nav-icon {
        .iconSize();
      }
    }

    .nav-mobileMenu-wrapper {
      display: none;
      @media (max-width: 600px) {
        display: block;
      }
      .mobile-menu-icon {
        font-size: 2.5rem;
        color: @primaryNavyHeader;
      }
    }
  }
}
//
//

//
//  Landing Section
.landing-section {
  .landing-container {
    position: relative;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    z-index: -3;

    .landing-background {
      position: absolute;
      top: 0;
      right: 5%;
      height: 100%;
      object-fit: contain;
      z-index: -1;

      @media (max-width: 600px) {
        width: 100%;
        right: 0;
      }
    }

    .landing-wrapper {
      .centerTheme();
      padding: 10rem 0;
      z-index: 1;

      @media (max-width: 600px) {
        padding: 4rem 0;
      }

      @media (min-width: 605px) and (max-width: 900px) {
        padding: 4rem 0;
      }

      .landing-text-container {
        .landing-text-wrapper {
          width: 50%;

          @media (max-width: 600px) {
            width: 100%;
            text-align: center;
          }
          .landing-header {
            .mainHeader();
          }
          .landing-description {
            .mainDescription();
          }
          .landing-button {
            .primaryButton();
            .landing-button-link {
              .linkRemoval();
            }
          }
        }
      }
    }
  }
}
//
//

//
// Sample Section
.sample-section {
  .sample-container {
    .sample-wrapper {
      .centerTheme();
      padding: 4rem 0;

      .sample-grid {
        display: grid;
        grid-template-columns: 50% 50%;

        @media (max-width: 600px) {
          grid-template-columns: 100%;
        }

        .sample-gridItem-image {
          @media (max-width: 600px) {
            grid-row: 2;
          }

          .sample-grid-image {
            width: 25rem;
            height: 100%;
            object-fit: cover;

            @media (max-width: 600px) {
              width: 20rem;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            @media (min-width: 605px) and (max-width: 900px) {
              width: 13rem;
            }
          }
        }

        .sample-gridItem-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          @media (max-width: 600px) {
            text-align: center;
            align-items: center;
          }

          .sample-text-wrapper {
            .sample-header {
              .mainHeader();
            }
            .sample-description {
              .mainDescription();
            }
          }

          .sample-color-wrapper {
            padding: 1rem 0;

            @media (max-width: 600px) {
              margin: auto;
            }

            .sample-colour-circle-yellow {
              .circleIcons();
              color: #f1cf10;
            }
            .sample-colour-circle-red {
              .circleIcons();
              color: @primaryOrange;
            }
            .sample-colour-circle-black {
              .circleIcons();
              color: #1d1d1d;
            }
            .sample-colour-circle-blue {
              .circleIcons();
              color: #07006d;
            }
          }
          .sample-price-wrapper {
            padding: 1rem 0;
            font-family: semi;
            font-size: 1.3rem;
            display: flex;

            @media (max-width: 600px) {
              margin: auto;
            }

            @media (min-width: 605px) and (max-width: 900px) {
              font-size: 0.8rem;
            }

            .sample-price-crossed {
              color: @primaryOrangetext;
              text-decoration: 3px black line-through;
            }
            .sample-price-visible {
              margin: 0 1rem;
            }
          }

          .sample-input-container {
            display: flex;
            padding: 1rem 0;

            @media (max-width: 600px) {
              flex-direction: column;
            }
            .sample-input-wrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;
              border: 1px #c2c2c2 solid;
              padding: 0.5rem 0.2rem;

              .sample-input-icon {
                .iconSize();

                @media (max-width: 600px) {
                  margin: 0;
                }
              }
              .sample-input-value {
                margin: 0 2rem;
                font-size: 1.5rem;
                font-family: semi;

                @media (min-width: 605px) and (max-width: 900px) {
                  font-size: 0.8rem;
                  margin: 0 1rem;
                }
              }
            }
            .sample-button {
              .primaryButton();
              margin: 0 2rem;

              @media (max-width: 600px) {
                margin: 1rem 1rem;
              }
              .sample-button-link {
                .linkRemoval();
              }
            }
          }
        }
      }
    }
  }
}
//
//

//
// Carousel Section
.carousel-container {
  .centerTheme();
  text-align: center;
  padding: 6rem 0 8rem 0;

  @media (max-width: 600px) {
    padding: 0 0 6rem 0;
  }

  @media (min-width: 605px) and (max-width: 900px) {
    padding: 0 0 2rem 0;
  }

  .carousel-header {
    .mainHeader();
  }
  .carousel-description {
    .mainDescription();
  }
  .carousel-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .carousel-image {
      width: 20rem;
      height: 100%;
      object-fit: contain;

      @media (max-width: 600px) {
        width: 18rem;
      }

      @media (min-width: 605px) and (max-width: 900px) {
        width: 10rem;
      }
    }
    .carousel-image-large {
      width: 24rem;
      height: 100%;
      object-fit: contain;

      @media (max-width: 600px) {
        width: 18rem;
      }

      @media (min-width: 605px) and (max-width: 900px) {
        width: 12rem;
      }
    }
  }
}

//
//

//
// Subscribe Section
.subscribe-section {
  .subscribe-container {
    position: relative;
    padding: 8em 0;

    @media (max-width: 600px) {
      padding: 4em 0;
    }

    @media (min-width: 605px) and (max-width: 900px) {
      padding: 4em 0;
    }

    .subscribe-wrapper {
      .centerTheme();
      display: flex;
      justify-content: flex-end;

      @media (max-width: 600px) {
        display: block;
      }
      .subscribe-text-wrapper {
        width: 40%;

        @media (max-width: 600px) {
          width: 100%;
          padding: 0 1rem 0 1rem;
          text-align: center;
        }

        @media (min-width: 605px) and (max-width: 900px) {
          padding-left: 0;
        }

        .subscribe-header {
          .mainHeader();
        }
        .subscribe-description {
          .mainDescription();
          width: 100%;

          @media (max-width: 600px) {
            width: 100%;
          }
        }
        .subscribe-input-wrapper {
          @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
          }

          .subscribe-input {
            width: 60%;
            padding: 1rem 0 1rem 1rem;
            font-family: light;
            font-size: 1rem;
            border: 1px #b6b2b2 solid;
            border-radius: 0.3rem;

            @media (max-width: 600px) {
              width: 80%;
              margin: auto;
            }

            @media (min-width: 605px) and (max-width: 900px) {
              width: 60%;
              font-size: 0.7rem;
              padding: 0.5rem 0 0.5rem 0.8rem;
            }
          }
          .subscribe-button {
            .primaryButton();

            @media (max-width: 600px) {
              width: 80%;
              margin: auto;
              margin-top: 2rem;
            }

            .subscribe-button-link {
              .linkRemoval();
            }
          }
        }
      }
    }
    .subscribe-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -2;

      @media (max-width: 600px) {
        display: none;
      }
    }
  }
}

//
//

//
// Footer Section
.footer-container {
  background-color: @backgroungPrimary;
  padding: 5rem 0;

  .footer-wrapper {
    .centerTheme();

    .footer-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
      // Header
      .footer-gridItem-header {
        @media (max-width: 600px) {
          text-align: center;
          margin: 4rem 0;
        }

        .footer-logo-header {
          .logoHeader();
          margin-bottom: 1rem;

          @media (max-width: 600px) {
            font-size: 2.5rem;
          }
        }
        .footer-description {
          padding-right: 4rem;
          font-family: regular;
          .footerBasicDescription();

          @media (max-width: 600px) {
            padding: 0 2rem;
          }
        }
      }

      // Contact
      .footer-gridItem-contact {
        text-align: center;
        padding: 0 2rem;

        @media (max-width: 600px) {
          margin: 2rem 0;
        }
        .footer-contact-text {
          .footerBasicHeader();
        }
        .footer-contact-description {
          .footerBasicDescription();
        }
      }

      //Tab Links
      .footer-gridItem-tab-container {
        display: flex;
        justify-content: space-between;

        @media (max-width: 600px) {
          flex-direction: column;
          padding-left: 2rem;
        }

        .footer-gridItem-tab-wrapper {
          @media (max-width: 600px) {
            margin-bottom: 2rem;
          }

          .footer-header {
            .footerBasicHeader();
          }
          .footer-tab-link {
            .linkRemoval();
            color: @primaryNavyHeader;
            .footer-tab-text {
              .footerBasicDescription();
            }
          }
        }
      }
    }

    .footer-right-wrapper {
      display: flex;
      align-items: center;
      margin-top: 4rem;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .footer-right-text-div {
        flex-grow: 1;
        .footer-right-text {
          .footerBasicDescription();
        }
      }
      .footer-right-logo-div {
        .footer-icon-hover {
          .footer-icons {
            .iconSize();
          }
        }
      }
    }
  }
}
