// Fonts
@font-face {
  font-family: light;
  src: url(./assets/font/Lexend-Light.ttf);
}
@font-face {
  font-family: regular;
  src: url(./assets/font/Lexend-Regular.ttf);
}
@font-face {
  font-family: semi;
  src: url(./assets/font/Lexend-SemiBold.ttf);
}
@font-face {
  font-family: Lbold;
  src: url(./assets/font/Lexend-Bold.ttf);
}

// Color
@primaryOrange: #ee5902;
@primaryOrangetext: #f86d1c;
@primaryButtontext: #fcfcfc;
@primaryNavyHeader: #06012e;
@primaryNavyDescription: #a7a7a7;

@backgroungPrimary: #f5f5e4;
// Reuseable Design

// Default sizing
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
